* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #FFF1F1;
    margin: 0;
}

header {
    background-color: #6F00FF;
    padding: 2px;
    position: sticky;
    top: 0;
    border-radius: 0 0 10px 10px;
    z-index: 99;

    ul {
        display: flex;
        justify-content: space-evenly;

        li {
            text-decoration: none;
            padding: 8px;
        }

        li:hover {
            background-color: #E9B3FB;
            border-radius: 5px;
        }
        a{
            color: #FFF1F1;
        }
        a:hover{

            color: #3B0270;
        }
    }
}

.contain {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    

    .card-out {
        overflow: hidden;
        margin: 10px auto;
        border-radius: 20px;

        img {
            width: 100%;
            height: 340px;
            object-fit: cover;

        }

        img:hover {
            transform: scale(1.3);
            transition: transform 0.5s ease-in-out;
        }
    }
}

footer {
    background-color: #3B0270;
    color: #FFF1F1;
    height: 70px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #3B0270;
}

hr {
    margin: 20px 0;
    border: #3B0270 solid 2px;
}

h1 {
    text-align: center;
    font-size: 30pt;
}


main {
    margin: 0 auto;
    width: 60%;

    img {
        display: block;
        border-radius: 20px;
        margin: 0 auto;
        width: 60%;
    }
}

p {
    text-align: justify;
    font-size: 1.12em;
}

h2 {
    font-size: 1.2em;
}

.info {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);

}


.card {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    .card:hover {
        background-color: #E9B3FB;
        color: black;
    }
}


@media (max-width: 900px) {
    .info {
        grid-template-columns: repeat(1, 1fr);
    }
}